body {
    background: #020024;
background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(1, 1, 48, 1) 55%, rgba(0, 98, 117, 1) 100%);
font-family: 'Poppins', sans-serif;
background-image: url(https://asset.kompas.com/crops/PZkNa1XEcC9huIv3Gd1tHebvzIA=/0x0:780x520/1200x800/data/photo/2023/07/25/64bf6a78dfe73.jpg);
background-size: cover;
}

.container{
width: 500px;
height:1056px;
border : 2px solid rgba(225,225,225,0.18);
margin:auto;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
box-shadow: 0px 0px 0px rgba(227,228,237,0.37);
backdrop-filter:blur(30px);
}

.logoupluad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.logoupluad :hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.judul{
    text-align: center;
    padding-top: 20px;
    color: white;
}

.judul :hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.pngmutu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.pngmutu :hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.menu1{
color: white;
text-align: center;
border: 2px solid white;
border-radius: 50px;
width:450px;
margin:auto;
cursor: pointer;
display: flex;
justify-content: space-between;
transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.menu1 h3{
  margin-left: 40px;

}

.dots{
    margin-right: 30px;
}

.menu1 img{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    justify-content: space-between;

}

.menu1 h3{
  text-align: center;
  padding-right: 50px;
}


.menu1:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.logologo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

.logologo img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.footer {
    
    background-color: white;
    width: 400px;
    margin: auto;
    border-radius: 200px;
    width: 350px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.footer h3{
    padding-top: 15px;
    color: black;
    font-size: 15px;
    text-align: center;
}

.akhir {
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}